<% layout('./Layout/boilerplate') %>

    <h1>All Campgrounds</h1>
    <button><a href="/campgrounds/new">New</a></button>

  <div class="d-grid" style="grid-template-columns: auto auto auto auto;">

          <%  for(let camp of campg){ %> 
            <div class="card mt-3 mb-3" style="width: 18rem;">
                <img src="<%=camp.img[0].url %>" class="card-img-top" width="100px" height="200px" alt="No imag">
                <div class="card-body">
                  <h5 class="card-title"><%=camp.title %></h5>
                  <p class="text-secondary "><%=camp.location %></p>
                  <a href="/campgrounds/<%=camp._id %>" class="btn btn-primary">Show Details</a>
                </div>
              </div>
         <%  } %>
        </div>


